@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'W95FA';
  src: url('https://fonts.cdnfonts.com/s/45697/W95FA.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'W95FA', sans-serif;
  background-color: #008080;
}

.win95-window {
  @apply bg-gray-200 border-4 border-t-white border-l-white border-r-gray-800 border-b-gray-800 shadow-md;
}

.win95-button {
  @apply px-4 py-1 bg-gray-200 border-2 border-t-white border-l-white border-r-gray-800 border-b-gray-800 active:border-t-gray-800 active:border-l-gray-800 active:border-r-white active:border-b-white;
}

.win95-inset {
  @apply border-2 border-t-gray-800 border-l-gray-800 border-r-white border-b-white bg-white;
}

.controls-button {
  @apply px-1 py-1 bg-gray-200 border-2 border-t-white border-l-white border-r-gray-800 border-b-gray-800 active:border-t-gray-800 active:border-l-gray-800 active:border-r-white active:border-b-white;
}